/* 
Nombre: [Naiara Cuenca] 
Curso: [ASIR1] 
Fecha: [04/03/2025] 
Ejercicio: [Aplicar Estilos Básicos] 
*/
 
body {background-color: coral; font-style: arial, sans-serif;}
p {color:blue;}
h1 {margin: 20px;}
div {border: 2px solid;}
