/* 
Nombre: [Naiara Cuenca] 
Curso: [ASIR1] 
Fecha: [05/03/2025] 
Ejercicio: [Diseño de un Panel de Dashboard Interactivo] 
*/

.sidebar {width: 20%;
          justify-content: left;}

header {justify-content: space-around;
        background-color: grey;}


/* Creamos un contenedor grid que tenga dos filas y dos columnas */
.contenedor-main {display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: 1fr 1fr;
                  margin: 10px;}

/* Cambia a una sola columna en pantallas pequeñas*/
@media {contenedor-main {grid-template-columns: 1fr;
                         grid-template-rows: auto;}}

/* Creamos una clase para cada tarjeta ya que nos pide un fondo diferente para cada una*/
.card {background-color: aqua;
       animation-duration: 2s;
       animation-name: entrada;}

/* Además utilizamos hover para cambiar el fondo y hacer la tarjeta ligeramente más grande cuando pasemos el mouse por arriba*/
.card:hover {background-color: palegoldenrod;
             transform: scale(1.2);}

.card1 {background-color: palegoldenrod;
        animation-duration: 4s;
        animation-name: entrada;}
.card1:hover {background-color: aqua;
             transform: scale(1.2);}

.card2 {background-color: palegreen;
        animation-duration: 6s;
        animation-name: entrada;}
.card2:hover {background-color:pink;
             transform: scale(1.2);}

/* Añade una animacion de entrada */
@keyframes entrada {
    from {margin-left: 100%;
          width: 300%;}
    to {margin-left: 100%;
        width: 100%;}
}