/*
Nombre: [Naiara Cuenca] 
Curso: [ASIR1] 
Fecha: [04/03/2025] 
Ejercicio: [Flexbox] */

/* En la clase flexbox aplicamos el CSS que nos han pedido*/
.contenedor-flex {display: flex;
          justify-content: space-around;}

/* Aplicamos a las divisiones hijos qe se creen del contenedor*/
.contenedor-flex > div {background-color: aqua;
                width: 100px;
                height: 100px;}